/** theme: neo
 *
 * @package   StatusNet
 * @author    Samantha Doherty <sammy@status.net>
 * @copyright 2011 StatusNet, Inc.
 * @license   http://creativecommons.org/licenses/by/3.0/ Creative Commons Attribution 3.0 Unported
 * @link      http://status.net/
 */

/* genericons */
@font-face {
    font-family: 'Genericons';
    src: url('genericons/Genericons.eot');
}

@font-face {
    font-family: 'Genericons';
    src: url('genericons/Genericons.woff') format('woff'),
         url('genericons/Genericons.ttf') format('truetype'),
         url('genericons/Genericons.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Genericons";
    src: url("genericons/Genericons.svg#Genericons") format("svg");
  }
}

/* font awesome */
@font-face {
  font-family: 'fa';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen, projection, tv {

/* general styles and layout */

html, body {
    height:100%;
    }

body {
    background-color: #E9EAED;
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea, select, option {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {color: #666;}
a:hover {color: #a22430;text-decoration:underline;}

#aside_primary a {color: rgba(0,0,0,0.8);}

abbr {border-bottom: none;}

h1 {font-size: 1.6em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

#wrap {
 padding-top: 46px;
 border:0 none;
 background-color: transparent;
 width:960px;
}

#header,
#header-search input[type="submit"],
.form_notice_placeholder,
#site_nav_local_views li.current a,
#site_nav_local_views li a:hover,
#site_nav_object li.current a,
#site_nav_object li a:hover,
#showstream .entry-metadata .repeat,
body#outbox #core ul.messages .notice:before,
#header:before,
address {
    background-image: url("../icons-hires.png?v=2");
    background-size: 150px 2786px;
    background-repeat:no-repeat;
}

address {
    background-position: -10px -600px;
    cursor: pointer;
    display: block;
    height: 34px;
    left: 50%;
    margin-left: -466px;
    position: fixed;
    top: 6px;
    width: 89px;
    z-index: 1001;
    background-color:#a22430;
}

address:hover {
    background-position: -10px -635px;
}

address a {
    height: 34px;
    width: 89px;
    display:block;
}

.logo {
    display: none;
}

#header {
    background-color: #fff;
    display: block;
    height: 30px;
    left: 0;
    padding-top: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.25)
}

#core {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    min-height:calc(100vh - 46px);
}


#aside_primary_wrapper {
    background-color: transparent;
}

#content_wrapper  {
    background-color:transparent;
    border:0 none;
}


#site_nav_local_views_wrapper  {
    background-color: transparent;
    border:0 none;
}

#site_nav_local_views {
    padding: 13px 10px 40px;
    }

#footer {
    display:none;
}

/* header elements */

#site_nav_global_primary {
    top: 10px;
    left: 50%;
    margin-left:-320px;
    position:fixed;
    }

#site_nav_global_primary li {
    margin-right: 0px;
}

#site_nav_global_primary li:last-child {
    margin-right: 10px;
}

#site_nav_global_primary a {
    padding: 2px 10px 2px 10px;
    height: 46px;
    line-height: 46px;
    box-sizing:border-box;
    display: block;
    float: left;
    color: #777777;
    border-bottom:0 none;
    transition:all 0.2s;
}

#site_nav_global_primary a:hover {
    color: #c33541;
    border-bottom:3px solid #c33541;
    text-decoration: none;
}

#site_nav_global_primary #nav_logout a:before,
#site_nav_global_primary #nav_admin a:before,
#site_nav_global_primary #nav_account a:before,
#site_nav_global_primary #toggleqvitter a:before,
#site_nav_global_primary #top_nav_doc_faq a:before {
    content: "\f085";
    display: inline-block;
    font: 18px/1 "fa";
    padding-right:10px;
    vertical-align:middle;
    padding-bottom:3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#site_nav_global_primary #nav_admin a:before {
    content: "\f12e";
}

#site_nav_global_primary #nav_logout a:before {
    content: "\f206";
}

#site_nav_global_primary #toggleqvitter a:before {
    content: "\f0c3";
}

#site_nav_global_primary #top_nav_doc_faq a:before {
    content: "\f1cd";
}

#header-search {
    top: 1px;
    margin-left: 6px;
}

#header-search #search-q {
    position: relative;
    width: 131px;
    height: 12px;
    margin-right: 10px;
    padding: 2px 22px 2px 6px;
    border-radius: 4px;
    border: none;
    font-size: 0.88em;
}

#header-search input[type="submit"] {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: 25px;
    text-indent: -9999px;
    top: 4px;
    width: 20px;
    z-index: 2;
    background-position: 0px -293px;
}

/* hide site notice after 5 s */
#site_notice {
    background-color: pink;
    border-radius: 0;
    bottom: 0;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 10px 20px 10px 40px;
    position: fixed;
    text-align: left;
    width: 100%;
    -moz-animation: hideSiteNotice 2s ease-in 5s forwards;
    -webkit-animation: hideSiteNotice 2s ease-in 5s forwards;
    -o-animation: hideSiteNotice 2s ease-in 5s forwards;
    animation: hideSiteNotice 2s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#site_notice:before {
    width:30px;
    height:30px;
    position:absolute;
    display:block;
    left:10px;
    top:10px;
    content: "\f071";
    font-family:fa;
}

@keyframes hideSiteNotice {
    to {
        bottom:-1000px;
        overflow:hidden;
    }
}

@-webkit-keyframes hideSiteNotice {
    to {
        bottom:-1000px;
        visibility:hidden;
    }
}

#header-search #search-q {
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 21px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 1;
    padding: 5px 27px 6px 12px;
    transition: all 0.2s ease-in-out 0s;
    width:100%;
    outline:none;
    margin-top:-4px;
    right:10px;
    width:163px;
}

#header-search #search-q:focus {
    box-shadow:none;
    text-shadow:none;
    background-color:#fff;
    color:#666;
}

#site_nav_global_primary ul {
    height:40px;
    position:absolute;
    top:-10px;
    right:190px;
}

#content {
    background-color: transparent;
    padding: 12px 40px 40px 0;
}

#content_inner {
    width: 542px; 
}

/* faq */
body#doc #content_inner {
    background-color:#fff;
    padding:10px;
    border-radius:5px;
}

body#doc #content_inner h1 {
    padding-top:10px;
    font-size:25px;
    color:#333;
    text-transform:none;
}

body#doc #content_inner h2 {
    padding-top:50px;
    line-height: 27px;
}

body#doc #content_inner h2 a {
    font-size:0;
}

body#doc #content_inner h2 a:before {
    content:"\f0aa";
    font-family:"fa";
    font-size:20px;
}

body#doc #content_inner h2 a:hover {
    text-decoration:none;
}

body#doc #content_inner h2#faq-table-of-contents {
    padding-top:20px;
}

body#doc #content_inner li {
    padding-left:20px;
    font-weight:bold;
}

body#doc #content_inner p.indent {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid #ccc;
    margin-left: 50px;
    padding: 5px 5px 5px 10px;
}

body#doc #content_inner p.faq-credits {
    margin-top:40px;
}

/* input forms */

.input_forms {
    background: none repeat scroll 0 0 #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    float: left;
    left: 0;
    margin-bottom: 10px;
    padding: 0;
    top: 0;
    width: 542px;
}

.input_form .form_settings li input {
    margin: 0 0 5px 5px;
}

.input_form .form_settings li textarea {
    margin: 0 0 5px 5px;
}

.input_form fieldset fieldset label {
    left: 10px;
    background: #fff;
}

.input_forms > label {
    margin: 10px 1ex;
}

#input_form_nav {
    margin: 2px;
}

#input_form_nav li a {
    display: block;
    float: left;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: rgba(0,0,0,0.8);
    padding: 5px 10px;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    margin: 5px;
}

#input_form_nav li.current a {
    background: -moz-linear-gradient(top,  #a22430 0%, #c33541 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a22430 0%,#c33541 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a22430 0%,#c33541 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a22430 0%,#c33541 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a22430 0%,#c33541 100%); /* W3C */
    background-repeat: repeat-x;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px;
    border-color:#c33541;
    color:#fff;
}

#input_form_nav li:hover a {
    background: -moz-linear-gradient(top,  #c33541 0%, #d44652 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c33541 0%,#d44652 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c33541 0%,#d44652 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c33541 0%,#d44652 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c33541 0%,#d44652 100%); /* W3C */
    background-repeat: repeat-x;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px;
    border-color:#c33541;
    color:#fff;
}

.input_form_nav_tab a, .input_form_nav_tab.current a {
    text-decoration: none;
}

#input_form_event .form_settings .form_data li {
    width: 100% !important;
}

.form_notice .error, .form_notice .success, .form_notice .notice-status {
    background-color: #a22430;
    border: 0 none;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.2em;
    margin: 0;
    overflow: auto;
    padding: 5px 5px 5px 10px;
    position: relative;
    width: 527px;
    overflow:hidden;
    animation: rolldown 0.3s linear 1;
}

@keyframes rolldown {
   0% {height: 0;}
   100% {height: 17px;}
}

body #aside_primary .account_profile_block .user_profile_tags {
    display:none;
}

/* filter people by tags doesn't work anyway, and is confusing as peopletags and lists have been merged, it seems */
#filter_tags {
    display:none;
}

/* already present in right margin */
#content_inner > .entity_actions > #entity_remote_subscribe {
    display:none;
}

/* settings */
#content_inner > .form_settings    {
    background-color: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 0;
    padding:20px;
    margin-bottom:20px;
}

#aside_primary #account_actions {
    background-color: rgba(255,192,203,0.5);
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 0;
    width: 150px;
    padding:20px;
    margin-bottom:20px;
}

/*  profile lists */
ul.profile_list > li {
    background-color: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 0;
    width: 518px;
    padding-bottom:8px;
}

ul.profile_list li {
    margin-bottom: 8px;
}

.profile_list .h-card .p-nickname:before {
    content:"@";
}

#groupdirectory .profile_list .h-card .p-nickname:before {
    content:"!";
}

.profile_list .h-card .p-nickname {
    font-size:14px;
    font-weight:bold;
}

.profile_list .h-card .u-photo {
    margin-left: 10px;
    margin-right: 10px;
}


/* these apply to both profiles and groups */
.entity_profile .p-name,
.entity_profile .p-locality,
.entity_profile .role,
.entity_profile > span,
.entity_profile .u-url[rel~="contact"] {
    display: inline;
    font-size:1.0em;
    color:#9197a3;
}

.entity_profile .p-nickname {
    color:#666 !important;
    display: block !important;
}

.entity_profile .label {
    display: inline !important;
}

.entity_profile .p-name:after {
    content: "";
}

.profile .entity_profile .u-url {
    font-size:1.0em;
}

/* clear parethesis from base theme */
.entity_profile .p-name:before,
.entity_profile .p-name:after {
    content: "";
}

.entity_profile .role:before {
    content: "(";
}

.entity_profile .role:after {
    content: ")";
}

.entity_profile .label:before,
.profile .entity_profile .p-locality:before {
    content:" · ";
}

/* profiles' profile blocks */
#aside_primary .account_profile_block .profile_block_description {
    font-style:italic;
    padding:10px 0;
}

#aside_primary .account_profile_block .entity_actions .entity_edit {
    position:absolute;
    height:25px;
    width:auto;
    top:-5px;
    display:block;
    float:none;
    margin:0;
    padding:0;
    min-width:0;
    left: 100px;
}

#aside_primary .account_profile_block .entity_actions .entity_edit:hover {
    opacity:1;
}

#aside_primary .account_profile_block .entity_actions ul li a {
    background-color:transparent !important;
}

#aside_primary .account_profile_block .entity_send-a-message { /* not working anyway */
    display:none;
}

#aside_primary .section .entity_actions > p {
    background-color: transparent !important;
    display: block;
    float: none;
    height: 25px;
    margin: 0;
    min-width: 0;
/*     opacity: 0.5; */
    padding: 0;
    position: absolute;
    right: 0;
    top: -3px;
    width: auto;
    }
#aside_primary .section .entity_actions > p:hover {
/*     opacity:1; */
}

#aside_primary .section a.entity_remote_subscribe {
    background-color:transparent !important;
    padding-right:2px;
}

.entity_subscribe .dialogbox,
.entity_tag .dialogbox {
    width: 200px;
}

.form_settings fieldset {
    border: medium none;
    margin-bottom: 0;
    margin-top: 0;
}

.threaded-replies {
    margin-top: 4px;
    float: none;
}

#conversation .notices .notices {
    float: none;
    margin-left: 55px;
}

.threaded-replies .placeholder { /* TODO combine all these declarations */
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.input_form .form_settings .submit {
    line-height: 16px;
}

/* site nav local views */

#site_nav_local_views h3,
#aside_primary h2 {
    color: rgba(0,0,0,0.4);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 5px;
    text-shadow: none;
    text-transform: uppercase;
    padding:0 10px;
}

#site_nav_local_views li,
#site_nav_object li {
    display: block;
    margin: 0 0 3px;
}

#site_nav_local_views a,
#site_nav_object a {
    display: block;
    width: 105px;
    padding: 0 10px;
    border-radius: 4px;
    word-wrap: break-word;
    color:rgba(0,0,0,0.7);
    border-radius:3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#site_nav_object a {
    font-size:15px;
}

#site_nav_local_views li.current a {
    background-position:-3px -54px;
    color:rgba(0,0,0,0.8);
}

#site_nav_object li.current a {
    background-position:-3px -53px;
    color:rgba(0,0,0,0.8);
}

#site_nav_local_views li a:hover{
    background-position:-3px -79px;
    text-decoration:none;
}

#site_nav_object li a:hover {
    background-position:-3px -78px;
    text-decoration:none;
}

#site_nav_local_views .current a,
#site_nav_object .current a {
    font-weight:bold;
    text-decoration:none;
}

/* aside primary */

#aside_primary {
    width:205px;
    float: left;
    left: 802px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 13px 10px 40px;
}

#aside_primary .section {
    font-size: 0.88em;
}

#aside_primary h2 {
    padding:0;
}

.profile_block .entity_actions {
    float: right;
    width: 100px;
}

.profile_block .entity_moderation:hover ul,
.profile_block .entity_role:hover ul {
    right: 20px;
}

.profile_block_name {
    font-size: 14px;
    font-weight: bold;
}

.profile_block_location {
    font-weight: bold;
}

.profile_block_description {
    line-height: 1.2em;
}


.section ul.entities {
    width: 240px;
}

.section .entities li {
    margin-right: 3.6px;
    margin-bottom: 5px;
    width: 24px;
}

#popular_notices .avatar {
    position: relative;
    top: 4px;
    margin-bottom: 6px;
    height:24px;
    width:24px;
}

#popular_notices .p-author {
    position:relative;
}

#aside_primary td {
    padding-right: 20px;
    padding-bottom: 14px;
}

#aside_primary td .nickname {
    line-height: 1.6em;
}

.section .avatar {
    box-shadow: none;
    border-radius: 5px;
}

.account_profile_block {
    position:relative;
}

.account_profile_block:before {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 96px;
    left: 0;
    position: absolute;
    top: 0;
    width: 96px;
}

.invite_button {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    width: 150px;
}

.invite_button:hover {
    background-color: #D8D8D8;
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(216,216,216,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(216,216,216,1)));
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(216,216,216,1) 100%);
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(216,216,216,1) 100%);
    border-color: #BBBBBB;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

/* notice form */

.input_form {
    display: none;
    float: left;
    padding-bottom: 0;
    position: relative;
    width: 520px;
}

.form_notice_placeholder {
/*     background-position: 12px 12px; */
background:none;
    height: 40px;
    opacity: 0.5;
    padding: 12px;
}

.form_notice_placeholder:after {
    content: "\f040";
    display: block;
    font: 25px/1 "fa";
    height: 50px;
    left: 18px;
    position: absolute;
    top: 19px;
    width: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form_notice_placeholder:hover {
    opacity:0.7;
}

.form_notice_placeholder .placeholder {
    border: 0 none;
    color: #000;
    font-size: 1em;
    padding: 12px 4px 16px 40px;
    width: 508px;
    z-index: 97;
    font-size:15px;
    background:transparent;
}

.form_notice_placeholder .placeholder,
.form_notice textarea,
.input_form .form_settings li input,
.input_form .form_settings li textarea,
.threaded-replies .placeholder {
    border-radius: 0;
    box-shadow: none;
    background: none repeat scroll 0 0 #fff;
}

.form_notice textarea {
    outline:none;
    border:0 none;
    border-bottom:1px solid #e9eaed;
    box-shadow: none;
    display: block;
    float: none;
    resize: none;
    width:518px;
    padding:12px;
    height: 60px;
}

.checkbox-wrapper.checked label.checkbox,
.checkbox-wrapper.unchecked label.checkbox {
    background-image:none;
    color:transparent;
}

.checkbox-wrapper.checked label.checkbox:before,
.checkbox-wrapper.unchecked label.checkbox:before {
    content: "\f023";
    display: block;
    font: 22px/1 "fa";
    height: 35px;
    left: 10px;
    position: absolute;
    top: 0px;
    width: 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:rgba(0,0,0,0.6);
    text-indent:0;
    text-align:left;
}

.checkbox-wrapper.unchecked label.checkbox:before {
    content: "\f09c";
}

.form_notice label.notice_data-attach {
    background-image:none;
    display: block;
    left: 5px;
    position: absolute;
    top: 93px;
}

.form_notice label.notice_data-attach:before {
    content: "\f416";
    display: block;
    font: 35px/1 "Genericons";
    height: 35px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:rgba(0,0,0,0.6);
    text-indent:0;
    text-align:left;
}

.form_notice .count {
    right: -18px;
    top:65px;
}

.form_notice fieldset {
    height:135px;
}

.form_notice {
    margin-bottom: 0;
}

.form_notice .checkbox-wrapper {
    display: block;
    top: 96px;
    left: 280px;
    position: absolute;
}

.form_notice .to-selector > label {
    display:none;
}

.to-selector select {
    display:block;
    position:absolute;
    top:99px;
    left:45px;
}

#notice_action-submit {
    display: block;
    margin-top: 0;
    position: absolute;
    right: -15px;
    top: 92px;
}

/*  reply form */

.threaded-replies .form_notice label.notice_data-attach {
    left: 11px;
    right: auto;
    top: 101px;
}

.threaded-replies .form_notice .count {
    right: 14px;
    top: 77px;
}

.threaded-replies .form_notice textarea {
    border:1px solid #dcdee3;
}

.threaded-replies .form_notice .submit {
    height:30px;
    right: 10px !important;
    top: 103px !important;
}

.threaded-replies .notice-reply {
    clear: left;
    padding: 10px 10px 3px;
    position: relative;
}

/* DM's */
body#inbox,
body#outbox {
}

body#inbox .form_notice select[id="to"],
body#outbox .form_notice select[id="to"] {
    float: none;
    margin: -4px 0 10px 10px;
    max-width: 450px;
    position: absolute;
    top: 98px;
    left:0px;
}

body#inbox .form_notice label[for="to"],
body#outbox .form_notice label[for="to"] {
    display:none;
}

body#inbox #form_notice-direct.form_notice textarea,
body#outbox #form_notice-direct.form_notice textarea {
    width: 518px;
}

body#inbox #form_notice-direct.form_notice .count,
body#outbox #form_notice-direct.form_notice .count {
    right: -17px;
    top: 67px;
}

ul.messages > .notice {
    padding-bottom:20px !important;
}

body#outbox #core ul.messages .notice:before {
    background-position: -8px -150px;
    content: " ";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 17px;
    width: 40px;
    z-index: 10;
}

/* pagniation */

#pagination {
    border-radius: 0;
    height: 1.2em;
    padding-bottom: 12px;
    width: 533px;
    background:transparent;
}

#pagination .nav_next {
    border-radius: 25px;
    display: block;
    float: none;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 533px;
}

#pagination .nav_prev {
    display:none;
}

#pagination .nav_next a {
    border-radius: 50px;
    display: block;
    float: none;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 533px;
    border:2px solid rgba(0,0,0,0.2);
    padding:0;
    color:rgba(0,0,0,0.2);
}

#pagination .nav_next a:hover {
    border:2px solid rgba(0,0,0,0.5);
    color:rgba(0,0,0,0.5);
    text-decoration:none;
}

/* notices etc */

.notice .h-entry {
    overflow:visible;
}

.notice.h-entry .attachments {
    clear: both;
    margin-top: -16px;
    position: relative;
    top: 0;
    z-index: 1;
}

.notice .attachments .inline-attachment {
    color: transparent;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
    margin-bottom: 0;
}

.notice .attachments .inline-attachment img {
    color: transparent;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
    margin-bottom: 0;
    padding-top:20px;
}

#page_notice {
    clear: both;
    margin-bottom: 18px;
    color:rgba(0,0,0,0.4);
    font-size:13px;
    letter-spacing: 0.3px;
}

/* notices etc */

#content h1 {
    color: rgba(0,0,0,0.4);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 5px;
    padding: 0;
    text-shadow: none;
    text-transform: uppercase;
}


#content #content_inner > .threaded-notices > .notice,
#content #content_inner > .threaded-notices > .infscr-pages > .notice,
#content #content_inner > .notices > .infscr-pages > .notice,
#content #content_inner > .notices > .notice,
#content #notices_primary > .threaded-notices > .notice,
#content #notices_primary > .threaded-notices > .infscr-pages > .notice,
#content #notices_primary > .notices > .infscr-pages > .notice,
#content #notices_primary > .notices > .notice {
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    width:518px;
    background-color:#fff;
    padding:12px;
    padding-bottom:0;
}

#content .notice {
    padding-bottom: 4px;
}

.notice div.entry-content {
    font-size: 0.88em;
    line-height: 1.2em;
    margin-top: 6px;
    opacity: 0.6;
}

.notice:hover div.entry-content {
    opacity: 1;
}

.user_in .notice div.entry-content {
    max-width: 440px;
}

div.entry-content a.response:before {
        content: "(";
}

div.entry-content a.response:after {
        content: ")";
}

.notice-options {
    margin-top: 4px;
}

.notice-options {
    margin-top: 4px;
}

.notice-options .form_repeat.dialogbox {
    margin-right: 0px;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.notice-options .form_repeat.dialogbox legend {
    padding-top: 10px;
}

#content .threaded-replies .notice .author .photo {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.user_in.realtime-popup .notice div.e-content {
    max-width: 320px;
}

.realtime-popup .threaded-replies {
    margin-left: 15px;
}

.realtime-popup .threaded-replies .form_notice textarea {
    width: 385px !important;
}

.realtime-popup .threaded-replies .form_notice label.notice_data-attach {
    top: 10px !important;
    right: 10px !important;
}

#realtime_actions {
    padding-top: 0px !important;
    top: -25px !important;
}

#realtime_actions button {
    margin-right: 5px;
}

.pagination {
    height: 1.2em;
}

.entity_profile {
    float: left;
    width: 360px;
    margin-top: 4px;
}

.entity_profile .entity_depiction {
    margin-top: 4px;
}

.entity_actions {
    width: 140px;
    margin-top: 0;
    margin-bottom: 0;
}

.entity_moderation:hover ul,
.entity_role:hover ul {
    border-radius: 4px;
}

.entity_send-a-message .form_notice legend {
    text-shadow:0 1px 0 rgba(255,255,255,0.4);
}

.entity_send-a-message .form_notice {
    border: 1px solid #7B4E82;
}

.entity_send-a-message .form_notice #notice_action-submit {
    color: #fff !important;
    top: 46px;
}

.entity_subscribe .dialogbox, .entity_tag .dialogbox {
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.entity_subscribe .dialogbox input.submit_dialogbox, .entity_tag .dialogbox input.submit_dialogbox {
    color: #fff !important;
}

#filter_tags_item .submit {
  left: 6px;
  top: -3px;
}

#pagination {
    height: 1.2em;
    padding-bottom: 120px;
    border-radius: 6px;
}

#pagination a {
    color: #3e3e8c;
}


#footer a {
    color: #3e3e8c;
}

#site_nav_global_secondary {
    margin-bottom: 10px;
}

.error, .success, .notice-status {
    border-radius: 6px;
}

#aside_primary a.timestamp {
    color: rgba(0, 0, 0, 0.3);
}

.notice > footer {
    margin-bottom: 5px;
}

/* loading */

#infscr-loading {
    font-size:20px;
    color: rgba(0,0,0,0.4);
}

#infscr-loading img {
    display:none;
}

/* menu icons */
#nav_local_default li a {
    line-height:22px;
}

#nav_local_default a {
    padding-left:32px;
}

#nav_profile a:before,
#nav_timeline_replies a:before,
#nav_timeline_personal a:before,
#nav_local_default li:first-child ul.nav li:nth-child(4) a:before, /* messages... */
#nav_timeline_favorites a:before,
#nav_timeline_public a:before,
#nav_groups a:before,
#nav_recent-tags a:before,
#nav_timeline_favorited a:before,
#nav_directory a:before,
#nav_lists a:before {
    content: "\f409";
    display: inline;
    font-family:'Genericons';
    font-size:20px;
    line-height:22px;
    position:absolute;
    display:block;
    box-sizing:border-box;
    height:22px;
    width:22px;
    margin-left:-22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:rgba(0,0,0,0.4);
}

.nav li.current a:before {
    color:rgba(0,0,0,0.6) !important;
    font-weight:normal !important;
}
#nav_profile a:before {
    content: "\f304";
    margin-top:-1px;
}

#nav_timeline_replies a:before {
    content: "\f086";
    font-family:'fa';
    font-size:14px;
    margin-left:-19px;
}

#nav_local_default li:first-child ul.nav li:nth-child(4) a:before {
    content: "\f0e0";
    font-family:'fa';
    font-size:12px;
    margin-left:-18px;
}

#nav_timeline_favorites a:before {
    content: "\f005";
    font-family:'fa';
    font-size:14px;
    margin-left:-18px;
}

#nav_timeline_public a:before {
    content: "\f475";
}

#nav_groups a:before {
    content: "\f0c0";
    font-family:'fa';
    font-size:12px;
    margin-left:-18px;
}

#nav_recent-tags a:before {
    content: "\f02c";
    font-family:'fa';
    font-size:12px;
    margin-left:-18px;
}

#nav_timeline_favorited a:before {
    content: "\f140";
    font-family:'fa';
    font-size:14px;
    margin-left:-17px;
}

#nav_directory a:before {
    content: "\f1ae";
    font-family: "fa";
    font-size: 15px;
    margin-left: -16px;
    margin-top: -1px;
}

#nav_lists a:before {
    content: "\f0c9";
    font-family: "fa";
    font-size: 15px;
    margin-left: -18px;
}


.profile_list td.entity_actions {
    width: 24px;
    max-width: 24px;
    min-width: 24px;
    height: 20px;
    padding-left: 6px !important;
    position: relative;
    float: none;
    display: table-cell !important;
}

.profile_list .entity_actions ul {
    position: absolute;
    right: 20px;
}

.profile_list .entity_actions input {
    width: 22px;
    height: 22px;
    padding-top: 1px;
    padding-right: 0px;
    padding-left: 20px;
    display: block;
    overflow: hidden;
    font-size: 0em;
    border: 1px solid #CDD1DD;
}

.form_user_unsubscribe input.submit {
    background-position: 2px -1250px;
}

.form_user_subscribe input.submit {
    background-position: 2px -1184px;
}

.form_user_block input.submit {
    background-position: 2px -920px;
}

.profile_list .entity_actions input:hover {
    width: auto;
    padding-right: 10px;
    overflow: visible;
    font-size: 1em;
    line-height: 1.3em;
    border: 1px solid #A6ADBF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.peopletags_edit_button {
    position:relative;
}

.peopletags_edit_button:before {
    margin-left: -2px;
    top: -2px;
}


#export_data li a.foaf,
#export_data li a.json,
#export_data li:nth-child(2) {
    display:none;
}


.group_profile_block .entity_actions li a,
.group_profile_block .entity_actions input.submit {
    background-color:transparent !important;
}

#gnusocial-version {
border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-sizing: border-box;
    float: left;
    font-size: 11px;
    padding: 15px;
    width: 100%;
}

#gnusocial-version a,
#gnusocial-version p {
    margin:0;
    color:rgba(0,0,0,0.5);
}

.form_notice input.submit, .form_settings input.submit, .form_settings input.cancel, #form_invite input.submit,
.entity_subscribe .dialogbox input.submit_dialogbox,
.entity_tag .dialogbox input.submit_dialogbox,
.form_repeat.dialogbox input.submit_dialogbox
{ /* TODO combine all these declarations */
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 16px;
    background: -moz-linear-gradient(top,  #a22430 0%, #c33541 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a22430), color-stop(100%,#c33541)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a22430 0%,#c33541 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a22430 0%,#c33541 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a22430 0%,#c33541 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a22430 0%,#c33541 100%); /* W3C */
    background-repeat: repeat-x;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #c33541;
    border-right-color: #c33541;
    border-bottom-color: #c33541;
    border-left-color: #c33541;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 1px;
}

.form_notice input.submit:hover, .form_settings input.submit:hover, .form_settings input.cancel:hover, #form_invite input.submit:hover,
.entity_subscribe .dialogbox input.submit_dialogbox:hover,
.entity_tag .dialogbox input.submit_dialogbox:hover,
.form_repeat.dialogbox input.submit_dialogbox:hover
{
    background: -moz-linear-gradient(top,  #c33541 0%, #d44652 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c33541), color-stop(100%,#d44652)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c33541 0%,#d44652 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c33541 0%,#d44652 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c33541 0%,#d44652 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c33541 0%,#d44652 100%); /* W3C */
    background-repeat: repeat-x;
    border-color:#c33541;
    color:#fff;
}

.form_settings input#cancel, #form_action-no {
    background: #f2f2f2;
    color: #d7621c;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.form_settings input#cancel:hover, #form_action-no:hover {
    background: #fff;
    color: #d7621c;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.form_settings fieldset fieldset {
    margin-bottom: 30px;
    padding-top: 25px;
}

#invite #content p {
    margin-bottom: 15px;
}

#invite #content ul {
    list-style-type: none;
    margin-bottom: 25px;
    margin-left: 25px;
}

#invite #content li {
    background: url(../images/resultset_next.png) no-repeat 0px 3px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#invite #content #form_invite ul, #invite #content #form_invite li {
    margin-left: 0px;
    padding-left: 0px;
    background: none;
}

#form_invite input[type=text], #form_invite textarea {
    width: 250px;
    padding: 5px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#form_invite textarea {
    clear: left;
    width: 508px;
    height: 48px;
}

#form_invite a.add_row, #form_invite a.remove_row {
    display: block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    background-image: url('../../base/images/icons/icons-01.gif');
    background-repeat: no-repeat;
}

#form_invite a.remove_row {
    background-position: 0px -1252px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 10px;
    line-height: 4em;
}

#form_invite a.add_row {
    clear: both;
    position: relative;
    top: 10px;
    background-position: 0px -1186px;
    width: 120px;
    padding-left: 20px;
    line-height: 1.2em;
}

#form_invite label[for=personal] {
    display: block;
    margin-top: 25px;
}

#content thead th {
    text-align:left;
}

#content tbody th {
    vertical-align:top;
    text-align:left;
    font-weight:normal;
    padding-top:11px;
    padding-right:18px;
}

#content tbody tr {
    border-top: 1px dotted #bbb;
}

#content td {
    padding:11px 18px 11px 0;
    vertical-align:top;
}

#content td:last-child {
    padding-right:0;
}

/* Search */

#form_search {
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: url('../images/brdr_black_dot.png') repeat-x bottom left;
}

#form_search fieldset {
    margin-bottom: 0px;
}

#form_search ul.form_data #q {
    margin-left: 10px;
    width: 210px;
}

#form_search input.submit {
    height: 30px;
    margin-left: 5px;
}

#noticesearch .entity_actions {
    margin: 0px;
}

#noticesearch p.error {
    margin-top: 60px;
}

/* Limited-scope */

.limited-scope .e-content .timestamp {
    padding-left: 20px;
    position: relative;
}

.limited-scope .e-content .timestamp:before {
    content: url(../images/lock.png);
    position: absolute;
    top: -2px;
    left: 0px;
}

.limited-scope li .e-content .timestamp {
    padding-left: 0px;
}

.limited-scope li .e-content .timestamp:before {
    content: none;
}

.limited-scope li.limited-scope .e-content .timestamp {
    padding-left: 20px;
}

.limited-scope li.limited-scope .e-content .timestamp:before {
    content: url(../images/lock.png);
    position: absolute;
    top: -2px;
    left: 0px;
}

/* Blog */

label[for=blog-entry-content] {
    display: none !important;
}

#input_form_blog td {
    padding-top: 0px;
    padding-bottom: 0px;
}

#input_form_blog td.mceToolbar {
    padding-top: 4px;
}

h4.blog-entry-title {
    margin-bottom: 8px;
    line-height: 1.2em;
}

/* Onboard specific styles */
/* TODO move to plugin */

#cboxOverlay{
    background: url(../images/lightbox_bg.png) repeat 0 0 !important;
}

#cboxContent{
    background: #fff url(../logo.png) no-repeat 10px bottom !important;
}

.onboard_iframe {
    background: none;
    padding: 10px;
}

.onboard_iframe #wrap {
    width: auto;
    background: none;
}

.onboard_welcome p {
    margin-bottom: 10px;
}

.onboard_welcome ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.onboard_welcome ul li {
    background: url(../images/resultset_next.png) no-repeat 0px 3px;
    padding-left: 20px;
    margin-left: 10px;
}

#aside_primary #onboard_section {
    background: #f2f2f2;
    width: 196px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #516499;
    background: #fafafa;
}

#onboard_section H2 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: -11px;
    left: -11px;
    padding: 2px 0px 2px 10px;
    margin-right: -22px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: #364A84;
    background: -moz-linear-gradient(top, #516499 0%, #364a84 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#516499), color-stop(100%,#364a84));
    background: -webkit-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -o-linear-gradient(top, #516499 0%,#364a84 100%);
    background: -ms-linear-gradient(top, #516499 0%,#364a84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#516499', endColorstr='#364a84',GradientType=0 );
    background: linear-gradient(top, #516499 0%,#364a84 100%);
}

#onboard_section ul {
    list-style-type: none;
}

#onboard_section .onboard-step-incomplete {
    background: url(../images/resultset_next.png) no-repeat 0px 1px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#onboard_section .onboard-step-complete {
    background: url(../images/tick.png) no-repeat 0px 1px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-decoration: line-through;
    color:rgba(0,0,0,0.5);
}

/* Billing specific styles */
/* TODO move to plugin */

#content table.billing_info {
    margin-top: 10px;
    background:rgba(240, 240, 240, 0.4);
}

#content table.billing_info th {
    text-align: right;
    width: 50%;
}

.invalid {
    border: solid 2px red !important;
}

#payment_history table {
    width: 100%;
}

#billingadminpanel .form_settings input {
    margin-right: 0px;
}

/* Directory specific styles */
/* TODO separate base styles and move to plugin */

div#profile_directory div.alpha_nav > a {
    border-left: 1px solid #ccc !important;
    padding-left: 3.5px !important;
    padding-right: 4px !important;
    margin-right: 0px;
    float: left;
    line-height: 1.4em;
}

div#profile_directory div.alpha_nav > a.first {
    border-left: none !important;
}

div#profile_directory div.alpha_nav a.current {
    background-color: #ECECF2 !important;
}

table.profile_list {
    margin-top: 25px;
}

.profile_list th {
    font-size: 0.8em;
}

.profile_list th#created {
    width: 100px;
}

.profile_list th#subscriptions {
    width: 90px;
}

.profile_list th.current {
    background: none !important;
}

.profile_list th.current.reverse {
    background: none !important;
}

.profile_list th.current a {
    padding-right: 25px;
    background: url(../images/bluearrow_down.png) no-repeat top right;
}

.profile_list th.current.reverse a {
    background: url(../images/bluearrow_up.png) no-repeat top right;
}

table.profile_list tr.alt {
    background-color: #fafafa !important;
    border: none !important;
}

td.entity_profile {
    width: auto;
    min-width: 250px;
}


/* SNOD CompanyLogo styling */
/* TODO move to plugin */

#site_nav_local_views a.company_logo {
    width: 138px;
    padding: 0px;
    font-weight: bold;
    text-transform: none;
    line-height: 1em;
    margin-bottom: 20px;
    position: relative;
    top: -4px;
}

#site_nav_local_views a.company_logo:hover {
    background: none;
    color: blue;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.company_logo img {
    max-width: 138px;
    margin-bottom: 4px;
}

.company_logo span {
    display: block;
}

a.company_logo:hover span {
    text-decoration: underline;
}

}/*end of @media screen, projection, tv*/
